apiVersion: apps/v1
kind: Deployment
metadata:
  name: signaling
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: signaling
  template:
    metadata:
      labels:
        deployment: signaling
    spec:
      containers:
      - name: signaling
        image: "eu.gcr.io/poki-core/netlib:$COMMIT_SHA"
        ports:
        - containerPort: 8080
        env:
        - name: ENV
          value: production
        - name: VERSION
          value: "$COMMIT_SHA"
        - name: CLOUDFLARE_ZONE
          valueFrom:
            secretKeyRef:
              name: netlib
              key: CLOUDFLARE_ZONE
        - name: CLOUDFLARE_APP_ID
          valueFrom:
            secretKeyRef:
              name: netlib
              key: CLOUDFLARE_APP_ID
        - name: CLOUDFLARE_AUTH_USER
          valueFrom:
            secretKeyRef:
              name: netlib
              key: CLOUDFLARE_AUTH_USER
        - name: CLOUDFLARE_AUTH_KEY
          valueFrom:
            secretKeyRef:
              name: netlib
              key: CLOUDFLARE_AUTH_KEY
        - name: METRICS_URL
          valueFrom:
            secretKeyRef:
              name: netlib
              key: METRICS_URL
        startupProbe:
          httpGet:
            path: /ready
            port: 8080
          periodSeconds: 1
          failureThreshold: 10
          initialDelaySeconds: 1
